# Lists

In [21]:
[1,2,'hai']

[1, 2, 'hai']

In [22]:
a=[1,2,3,'a','b']

In [23]:
print(a[0])

1

In [24]:
print(len(a))

5

In [31]:
b=['a','b',[1,2]]
print(b[2])

[1, 2]

In [36]:
a.append(9)
print(a)

[1, 2, 'z', 'z', 3, 'a', 'b', 15, 'a', 'b', [1, 2], 15, 'a', 'b', [1, 2], 9]

In [37]:
a.insert(2,'z')

In [38]:
print(a)

[1, 2, 'z', 'z', 'z', 3, 'a', 'b', 15, 'a', 'b', [1, 2], 15, 'a', 'b', [1, 2], 9]

In [39]:
a.extend(b)

In [40]:
print(a)
a.remove(9)
print(a)

[1, 2, 'z', 'z', 'z', 3, 'a', 'b', 15, 'a', 'b', [1, 2], 15, 'a', 'b', [1, 2], 9, 'a', 'b', [1, 2]]
[1, 2, 'z', 'z', 'z', 3, 'a', 'b', 15, 'a', 'b', [1, 2], 15, 'a', 'b', [1, 2], 'a', 'b', [1, 2]]

In [16]:
a=[7,8,5,89]
print(max(a))

89

In [19]:
b=['a','b','c']
min(b)

'a'

In [42]:
b[0]='z'
print(b)

['z', 'b', [1, 2]]

In [43]:
b.pop()
print(b)

['z', 'b']

In [44]:
lis=[1,2,3,4,5,6,7]
print(lis[0:4])

[1, 2, 3, 4]

In [45]:
l=[i for i in range(0,10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
l.reverse()
l

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
l.sort()
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

In [ ]:
tup=()

In [ ]:
t=tuple()

In [67]:
tup!=t

False

In [53]:
tup='a','b'
print(tup)

('a', 'b')

In [52]:
tupl=(1,2,3,4,5)
print(tupl)

(1, 2, 3, 4, 5)

In [56]:
print(tupl[2:4])

(3, 4)

In [61]:
del tup

In [63]:
tup=tuple('python')
print(tup)

('p', 'y', 't', 'h', 'o', 'n')

In [64]:
tup=tuple('python',)
print(tup)

('p', 'y', 't', 'h', 'o', 'n')

In [3]:
hai='abc'
t=tuple(hai)
print(t)

('a', 'b', 'c')

In [4]:
t='hai','hello'
print(t)

('hai', 'hello')

In [5]:
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 
  
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [6]:
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [9]:
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

In [10]:
tuple1 = (0, 1, 2, 3) 
tuple1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [14]:
# A python program to demonstrate the use of  
# cmp(), max(), min() 
  
tuple1 = ('python', 'geek') 
tuple2 = ('coder', '1') 
  
if(tuple1!=tuple2): 
  
    # cmp() returns 0 if matched, 1 when not tuple1  
    # is longer and -1 when tuple1 is shoter 
    print('Not the same') 
else: 
    print('Same') 
print ('Maximum element in tuples 1,2: ' + 
        str(max(tuple1)) +  ',' + 
        str(max(tuple2))) 
print ('Minimum element in tuples 1,2: ' + 
     str(min(tuple1)) + ','  + str(min(tuple2)))

Not the same
Maximum element in tuples 1,2: python,coder
Minimum element in tuples 1,2: geek,1