# Loops / Conditional Execution

In [1]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [3]:
i=int(input('Enter a number :'))
if(i<5):
    print(i,'is less than 5')
elif(i<10):
    print(i,'is greater than 5,But less than 10')
else:
    print(i,'is greater than or equal to 10')

Enter a number :34
34 is greater than or equal to 10

In [4]:
#Print all even numbers between 1 and 100
for i in range(1,100):
    if(i%2==0):
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [31]:
for j in range(0,2):
    for i in range(1,10):
        if(i%2==0):
            continue
        print(i,end=' ')

1 3 5 7 9 1 3 5 7 9

In [ ]:
* * *
* * *
* * *
* * *
* * *
* * *
* * *
* * *

In [ ]:
*
**
***
****
*****
******
*******

In [ ]:
********
*******
******
*****
****
***
**
*

In [ ]:
       *
      **
     ***
    ****
   *****
  ******
 *******

In [ ]:
********
 *******
  ******
   *****
    ****
     ***
      **
       *

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
1 
2 3 
4 5 6 
7 8 9 10 
11 12 13 14 15 
16 17 18 19 20 21 
22 23 24 25 26 27 28

In [ ]:
1 
2 1 
3 2 1 
4 3 2 1 
5 4 3 2 1 
6 5 4 3 2 1 
7 6 5 4 3 2 1 
8 7 6 5 4 3 2 1 
9 8 7 6 5 4 3 2 1

In [ ]:
1 : 1

1 : 1
2 : 2

1 : 1
2 : 2
3 : 9

1 : 1
2 : 2
3 : 9
4 : 4

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25
6 : 6

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25
6 : 6
7 : 49

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25
6 : 6
7 : 49
8 : 8

In [11]:
k=1
for i in range(0,8):
    for j in range(0,i):
        #print(k,end=' ')
        k+=1
    #print()

In [16]:
'''for i in range(10):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()'''

"for i in range(10):\n    for j in range(i,0,-1):\n        print(j,end=' ')\n    print()"

In [1]:
rows = int (input('rows'))
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()
for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print()

rows8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
i=0
while(i<5):
    print(i)
    i+=1

0
1
2
3
4

In [9]:
while(True):
    print('a')

a

In [10]:
while(False):
    print('a')

In [29]:
i=1
while(i<10):
    for j in range(1,i):
        if(j%2!=0):
            print(j,':',j**2)
        else:
            print(j,':',j)
    print()
    i+=1

1 : 1

1 : 1
2 : 2

1 : 1
2 : 2
3 : 9

1 : 1
2 : 2
3 : 9
4 : 4

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25
6 : 6

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25
6 : 6
7 : 49

1 : 1
2 : 2
3 : 9
4 : 4
5 : 25
6 : 6
7 : 49
8 : 8

In [ ]:
while(condition):
    pass

In [6]:
i=0
while(i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [8]:
flag=True
while(flag):
    print('Hai')
    flag=False

Hai

In [9]:
1==2

False

In [10]:
2==2

True

In [11]:
3<=3

True

In [12]:
i=0
while(i<10):
    print('*'*i)
    i+=1

*
**
***
****
*****
******
*******
********
*********